
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkred;
    color:white;
    /* altered line height */
    line-height: 1.5em;
}

#wrapper{
    width: auto;
    height: auto;
    padding: 2em;
    background-color: black;
}

header{
    color: white;
    height: auto;
    width: auto;
    text-align: center;
    font: bold;
}

/* altered for sizing - made into background image */
#Effects{
    background-image: url(../Images/GageLogo.png);
    height: 15em;
    width: auto;
    background-position: center;
    background-position-y: 0px;
    background-size: 30%;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0;
}

nav{
    width: auto;
    margin-top: 0;
    /* added for center alignment (margin altered) */
    text-align: center;
    /* margin-bottom: 2em;  */
    padding-bottom: 1.5em;
    /* border-bottom: 1px solid gray; */
}

/* added for inline nav display */
nav ul li{
    display: inline;
    padding-left: 3em;
    padding-right: 3em;
}

nav a {
    text-decoration: none;
    color: white;
    /* altered */
    font-size: 20px;
}

nav a:hover {
    color: red;
}

#box1{
    margin-right: 4em;
    margin-left: 4em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid gray; 
}
#box1 h1{
    text-align: center;
    color:red;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0.5em;
}
/* #box1 p b{
    color:gray;
} */
.x{
    font-size: 30px;
    text-align: center;
    color:gray;
    word-spacing: 30px;
    font-family: cursive;
    padding-right: 4px;
}
#p{
    font-size: 24px;
    line-height: 1.5em;
    font-style: italic;
    /* float: left;
    width: 40%;
    display: block; */
    margin: 0 2em 2em 2em;
}

/* beginning of column css */
#boxes{
    padding-right: 3em;
    padding-left: 3em;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
}

.box1{
    float: left;
    display: block;
    width: 30.7%;
    background-color: black;
    padding: 1em;
    border-right: 1px solid gray;
}
.box1 h2{
    border-bottom: 1.5px dashed gray;
    padding-bottom: 0.5em;
    color:white;
}
.box1 p{
    color:lightgray;
}
.box1 a{
    text-decoration: none;
    color:red;
}
.box1 a:hover{
    color:gray;
}

.box2{
    float: left;
    display: block;
    width: 30.7%;
    background-color: black;
    padding: 1em;
    border-right: 1px solid gray;
}
.box2 h2{
    border-bottom: 1.5px dashed gray;
    padding-bottom: 0.5em;
    color:white;
}
.box2 p{
    color:lightgray;
}
.box2 a{
    text-decoration: none;
    color:red;
}
.box2 a:hover{
    color:gray;
}

.box3{
    float: left;
    display: block;
    width: 30.7%;
    background-color: black;
    padding: 1em;
}
.box3 h2{
    border-bottom: 1.5px dashed gray;
    padding-bottom: 0.5em;
    color:white;
}
.box3 p{
    color:lightgray;
}
.box3 a{
    text-decoration: none;
    color:red;
}
.box3 a:hover{
    color:gray;
}

.image{
    position: center;
    max-width: 100%;
    height: auto;
}
/* end of column css */

#readmore{
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 12em;
    padding: 0.8em;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration: none;
    font-size: 20px;
    color:lightgray;
    font-weight: bold;
}
#readmore:hover{
    border: 1px solid gray;
    color:gray;
    cursor: pointer;
}

.clearfix{
    clear: both;
}

footer{
    text-align: center;
}


@media(max-width:913px){
    #box1{
        max-width: 100%;
        position: center;
        height: auto;
    }

    #box1 p{
        font-size: 20px
    }
    
    .box1, .box2, .box3{
        float: none;
        width: 100%;
        /* border-left: 1px solid gray; */
        /* border-right: 1px solid gray; */
        border-right: none;
        border-bottom: 1px solid gray;
        margin: none;
    }

    .image{
        width: 100%;
    } section
}