body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkred;
    color:white;
    /* altered line height */
    line-height: 1.5em;
}

#wrapper1{
    width: auto;
    height: auto;
    padding: 2em;
    background-color: black;
}

#wrapper2{
    width: auto;
    height: auto;
    padding: 2em;
    background-color:#f3f3f3;
}

header{
    color: white;
    text-align: center;
    font: bold;
    font-size: 5em;
}

/* altered for sizing - made into background image */
#Effects{
    background-image: url(../../Gage/Images/GageLogo.png);
    height: 15em;
    width: auto;
    background-position: center;
    background-position-y: 0px;
    background-size: 30%;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0;
}

nav{
    width: auto;
    margin-top: 0;
    /* added for center alignment (margin altered) */
    text-align: center;
    /* margin-bottom: 2em;  */
    padding-bottom: 1.5em;
    /* border-bottom: 1px solid gray; */
}

/* added for inline nav display */
nav ul li{
    display: inline;
    padding-left: 3em;
    padding-right: 3em;
}

nav a{
    text-decoration: none;
    color: white;
    /* altered */
    font-size: 20px;
}

nav a:hover{
    /* color:red; */
    color:#e92535;
}

/* WRAPPER 1 */

#box1{
    margin-right: 3.95%;
    margin-left: 3.95%;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid gray; 
}
#box1 h1{
    text-align: center;
    /* color:red; */
    color:#dd2c00;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0.5em;
}
.x{
    font-size: 30px;
    text-align: center;
    color:gray;
    word-spacing: 30px;
    font-family: cursive;
    padding-right: 4px;
}
#p{
    font-size: 24px;
    line-height: 1.5em;
    font-style: italic;
    margin: 0 2em 2em 2em;
}
#p a{
    /* color:red; */
    color:#e92535;
    text-decoration: none;
}
#p a:hover{
    color:gray;
}

/* beginning of column css */
#boxes{
    padding-right: 3.95%;
    padding-left: 3.95%;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
}

.box1{
    float: left;
    display: block;
    width: 30.7%;
    background-color: black;
    padding: 1.2%;
    border-right: 1px solid gray;
}
.box1 h2{
    border-bottom: 1.5px dashed gray;
    padding-bottom: 0.5em;
    color:white;
}
.box1 p{
    color:lightgray;
}
.box1 a{
    text-decoration: none;
    /* color:red; */
    color:#e92535;
}
.box1 a:hover{
    color:gray;
}

.box2{
    float: left;
    display: block;
    width: 30.7%;
    background-color: black;
    padding: 1.2%;
    border-right: 1px solid gray;
}
.box2 h2{
    border-bottom: 1.5px dashed gray;
    padding-bottom: 0.5em;
    color:white;
}
.box2 p{
    color:lightgray;
}
.box2 a{
    text-decoration: none;
    /* color:red; */
    color:#e92535;
}
.box2 a:hover{
    color:gray;
}

.box3{
    float: left;
    display: block;
    width: 30.7%;
    background-color: black;
    padding: 1.2%;
    padding-right: none;
}
.box3 h2{
    border-bottom: 1.5px dashed gray;
    padding-bottom: 0.5em;
    color:white;
}
.box3 p{
    color:lightgray;
}
.box3 a{
    text-decoration: none;
    /* color:red; */
    color:#e92535;
}
.box3 a:hover{
    color:gray;
}

.shopimage{
    float:left;
    display: block;
    width: 50%;
    padding: 2%;
}

.shoptext{
    display: block;
    width: 40%;
    padding-left: 2em;
    padding: 2%;
    float:right;
}

.image{
    position: center;
    max-width: 380px;
    width: 100%;
    height: auto;
}
/* end of column css */

#readmore{
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    width: 12em;
    padding: 0.8em;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration: none;
    font-size: 20px;
    color:white;
    font-weight: bold;
}
#readmore:hover{
    border: 1px solid lightgray;
    color:lightgray;
    cursor: pointer;
}

/* WRAPPER 2 */

#box2{
    margin-right: 3.95%;
    margin-left: 3.95%;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid gray;
    margin-bottom: 2em;
}
#box2 h1{
    text-align: center;
    /* color:red; */
    color:#e92535;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0.5em;
}
#p2{
    font-size: 24px;
    line-height: 1.5em;
    font-style: italic;
    margin: 0 2em 2em 2em;
    color: black;
}

/* OTHER */

.clearfix{
    clear: both;
}

#topbutton{
    /* color:red; */
    color:#e92535;
    text-decoration: none;
    float: right;
    margin-right: 4em;
}
#topbutton:hover{
    color:gray;
}

footer{
    text-align: center;
    color:gray;
}

/* SCREEN SIZE */

@media(max-width:986px){
    nav ul li{
        display: inline;
        padding-left: 2em;
        padding-right: 2em;
    }
    nav a{
        font-size: 18px;
    }
}

@media(max-width:800px){
    #box1{
        max-width: 100%;
        position: center;
        height: auto;
    }
    #box1 p{
        font-size: 20px
    }
    
    .box1, .box2, .box3{
        float: none;
        width: 100%;
        /* border-left: 1px solid gray; */
        /* border-right: 1px solid gray; */
        border-right: none;
        border-bottom: 1px solid gray;
        margin: none;
    }

    .image{
        max-width: 678.4px;
        max-height: 360px;
        position: center;
        object-fit: cover;
        width: 100%;
    }
}