body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkred;
    color:white;
    /* altered line height */
    line-height: 1.5em;
}

#wrapper1{
    width: auto;
    height: auto;
    padding: 2em;
    background-color: black;
}

#wrapper2{
    width: auto;
    height: auto;
    padding: 2em;
    background-color:#f3f3f3;
}

header{
    color: white;
    height: auto;
    width: auto;
    text-align: center;
    font: bold;
}

/* altered for sizing - made into background image */
#Effects{
    background-image: url(images/GageLogoRed+White.png);
    height: 15em;
    width: auto;
    background-position: center;
    background-position-y: 0px;
    background-size: 30%;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0;
}

nav{
    width: auto;
    margin-top: 0;
    /* added for center alignment (margin altered) */
    text-align: center;
    /* margin-bottom: 2em;  */
    padding-bottom: 1.5em;
    border-bottom: 1px solid lightgray;
}

/* added for inline nav display */
nav ul li{
    display: inline;
    padding-left: 3em;
    padding-right: 3em;
}

nav a{
    text-decoration: none;
    color: white;
    /* altered */
    font-size: 20px;
}

nav a:hover{
    /* color:red; */
    color:#e92535;
}

/* WRAPPER 1 */

#box1{
    margin-right: 3.95%;
    margin-left: 3.95%;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
}
#box1 h1{
    text-align: center;
    /* color:red; */
    color:#e92535;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid gray;
}

/* beginning of column css */
#boxes{
    padding-right: 3.95%;
    padding-left: 3.95%;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
}

#A{
    float: left;
    width: 60%;
    margin-left: 2em;
    margin-top: 0;
    padding-bottom: 0.4em;
    border-bottom: 1px solid lightgray;
}
#A h2{
    border-bottom: 1.5px dashed gray;
    padding-bottom: 0.5em;
    color:white;
    font-size: 32px;
}
#A p{
    color:lightgray;
    font-size: 20px;
    line-height: 28px;
} /* end of #A */

#B{
    float: left;
    width: 60%;
    margin-left: 2em;
    margin-top: 0;
    padding-bottom: 0.4em;
    border-bottom: 1px solid lightgray;
}
#B h2{
    border-bottom: 1.5px dashed gray;
    padding-bottom: 0.5em;
    color:white;
    font-size: 32px;
}
#B p{
    color:lightgray;
    font-size: 20px;
    line-height: 28px;
} /* end of #B */

#C{
    float: left;
    width: 60%;
    margin-left: 2em;
    margin-top: 0;
    padding-bottom: 0.4em;
    border-bottom: 1px solid lightgray;
}
#C h2{
    border-bottom: 1.5px dashed gray;
    padding-bottom: 0.5em;
    color:white;
    font-size: 32px;
}
#C p{
    color:lightgray;
    font-size: 20px;
    line-height: 28px;
} /* end of #C */

#D{
    float: left;
    width: 60%;
    margin-left: 2em;
    margin-top: 0;
    padding-bottom: 0.4em;
    border-bottom: 1px solid lightgray;
}
#D h2{
    border-bottom: 1.5px dashed gray;
    padding-bottom: 0.5em;
    color:white;
    font-size: 32px;
}
#D p{
    color:lightgray;
    font-size: 20px;
    line-height: 28px;
} /* end of #D */

.image{
    max-width: 380px;
    width: 100%;
    height: auto;
    float: left;
    margin: 1em;
}

/* FOOTER */

footer{
    text-align: center;
    color:gray;
}
footer a{
    color:gray;
    text-decoration: none;
}
footer a:hover{
    color:#e92535;
}
footer img{
    margin-bottom: none;
    padding-bottom: none;
}

/* OTHER */

.clearfix{
    clear: both;
}

#topbutton{
    /* color:red; */
    color:#e92535;
    text-decoration: none;
    float: right;
    margin-right: 4em;
    margin-top: 2em;
}
#topbutton:hover{
    color:gray;
}

/* SCREEN SIZE */

@media(max-width:986px){
    nav ul li{
        display: inline;
        padding-left: 2em;
        padding-right: 2em;
    }
    nav a{
        font-size: 18px;
    }
}

@media(max-width:800px){
    #box1{
        max-width: 100%;
        position: center;
        height: auto;
    }
    #box1 p{
        font-size: 20px
    }
    
    .box1, .box2, .box3{
        float: none;
        width: 100%;
        /* border-left: 1px solid gray; */
        /* border-right: 1px solid gray; */
        border-right: none;
        border-bottom: 1px solid gray;
        margin: none;
    }

    .image{
        max-width: 678.4px;
        max-height: 360px;
        position: center;
        object-fit: cover;
        width: 100%;
    }
}